@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Hello NMC</h2>
    </div>

    <div class="col-md-6">
        <h2>Hero Information</h2>
        @Html.ActionLink("Hero data", "Index", "SuperHero")
    </div>
</div>